.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h4 {
    font-size: 3.0vh;
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h4 span {
    font-weight: 800;
}

.grid {
    figure {
        h4,
        p {
            margin: 0
        }
    }
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure {
    &.effect-goliath {
        @include breakpoint(small only) {
            width: 270px;
            height: 230px;
            img {
                width: 270px;
                height: 230px;
            }
        }
        @include breakpoint(medium only) {
            width: 135px;
            height: 180px;
            img {
                width: 135px;
                height: 180px;
            }
        }
        @include breakpoint(large up) {
            width: 220px;
            height: 290px;
            img {
                width: 220px;
                height: 290px;
            }
        }
        background: $body-background;
        -webkit-box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
        -moz-box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
        box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
        img,
        h4 {
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
        }
        img {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        h4,
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 30px;
        }
        p {
            text-transform: none;
            font-size: 90%;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
        }
    }
}

figure.effect-goliath:hover img {
    opacity: .6;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}

figure.effect-goliath:hover h4 {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
}

figure.effect-goliath:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}