.home-categories {
    padding-top: 35px;
    .column {
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4%;
        padding-right: 4%;
        .category {
            h3 {
                font-size: 10.0vh;
            }
            .grid-title {
                font-size: 3.0vh;
            }
            i {
                color: honeydew
            }
            text-align: center;
            color: white;
            background: $primary-color;
            &:hover {
                color: lightgoldenrodyellow;
                background: darken($primary-color, 2);
            }
        }
    }
}