.common-content {
  .content-header {
    position: absolute;
    height: 61px;
    width: inherit;
    left: 15px;
    top: 17px;
    padding-left: 70px;
    padding-top: 15px;
  }
  padding: 0 1em 2em 1em;
  border: 1px solid $menu-background;
  @include commonBackground();

}