.logger-list {
    .header {
        background: $menu-background;
        label, a {
            color: white;
        }
        .column-header {
            top: 95px;
        }
    }
    tr {
        &.error {
            td {
                background: $alert-color;
                color: white
            }
        }
    }
    .submit-section, .paginate-section {
        padding-top: 24px;
    }
}