@import "~foundation-sites/scss/foundation.scss";
@import "~react-datepicker/dist/react-datepicker.css";
@import "app-variables.scss";
@import "../../app-form/css/app-form.scss";
@import "../../categories-fields/css/categories-fields.scss";
@import "../../settings-logger/css/logger-list.scss";
@import "../../app-list/css/app-list.scss";
@import "../../app-splash/css/app-splash.scss";
@import "../../app-header/css/app-header.scss";
@import "../../common-view/css/common-view.scss";
@import "../../header-form/css/header-form.scss";
@import "../../common-sidebar/css/common-sidebar.scss";
@import "../../common-body/css/common-body.scss";
@import "../../common-content/css/common-content.scss";
@import "../../app-settings/css/app-settings.scss";
@import "../../common-icon-box/css/common-icon-box.scss";
@import "../../resource/icons/ultimate-icons/flaticon.css";
@import "../../resource/icons/strong/flaticon.css";
@import "../../categories-rules/css/CategoriesRules.scss";
@import "../../items-category-form/css/items-category-form.scss";
@import "../../common-fileupload/css/common-fileupload.scss";
@import "../../common-imageupload/css/common-imageupload.scss";
@include foundation-everything(true);
html {
    body {
        font-size: 100%;
        background: $body-background;
    }
}

.error {
    color: $alert-color;
}