.categories-fields {
    .fields-title-bar {
        padding-left: 1em;
        padding-right: 1em;
    }
    .add-button {
        color: $success-color;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: auto;
    }
    a {
        &.remove-button {
            color: $alert-color;
            font-size: 18px;
        }
    }
}