.manual-entry {
    .manual-entry-content {
        padding-top: 15px;
    }
    &.body {
        .header {
            padding: 1em 1em 0 1em;
            h5 {
                padding-top: 1em;
            }
        }
        .app-form {
            padding: 0 2em 0 2em;
        }
    }
}