.app-category {
    .app-category-controls {
        padding: 10px 5px 0 5px;
        .display-options {
            .button {
                &.active {
                    color: $menu-background;
                    border: 1px solid $menu-background;
                }
            }
        }
        .search-bar {
            padding-top: 0;
            .input-group {
                height: 39px;
            }
        }
        .no-left-padding {
          padding-left: 0;
        }
        .no-side-padding {
          padding-right: 0;
          padding-left: 0;
        }
    }
}