.home-categories {
    padding-top: 35px;
    .column {
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4%;
        padding-right: 4%;
            &:hover {
                border: 1px solid $primary-color;
            }
            &:active{
                box-shadow: 0 1px  $menu-background;
                transform: translateY(2px);
            }
        box-shadow: 0 2px lighten($primary-color, 4.5);
        .category {
            h3 {
                font-size: 10.0vh;
            }
            .grid-title {
                font-size: 2.5vh;
            }
            i {
                color: honeydew
            }
            text-align: center;
            color: white;
        }
    }
}