@import "./icon.scss";
@import "./icons-group.scss";
@import "./icon-group.scss";
.common-icon-box {
    padding: 0;
    .input-group {
        margin-bottom: 0;
    }
    .icon-preview {
        line-height: 25px;
        font-size: 24px;
    }
}