.icon {
    text-align: center;
    padding: 2px 1px 5px 1px;
    &:hover {
        color: $menu-background;
        background: lighten($primary-color, 50);
    }
    border-bottom: 1px solid $menu-background;
}