.common-body {
  padding: 1em;
  .body-title {
    padding: 15px 1em 2px 2px;
    color: $primary-color;
    position: absolute;
    right: 0;
    margin-right: 30px;
    .active {
      color: $success-color;
      border-bottom: 1px solid $success-color;
    }
    @include breakpoint(small down) {
      i, a {
        display: none;
      }
    }
  }
  .common-content {
    height: 100%;
    overflow-y: auto;
    padding-top: 56px;
  }
}