.app-form {
    .error {
        color: $alert-color;
    }
    .form-field {
        label {
            & input {
                width: 100%;
            }
        }
        .field-element {
            &.invalid {
                border: 1px orangered solid;
            }
        }
        .field-element[type='text'] .field-element[type='email'] .field-element[type='number'] {
            width: 100%;
        }
    }
    .form-message {
        padding: 4px 0;
        color: white;
        text-indent: 15px;
        &.alert {
            background: $alert-color;
        }
        &.warning {
            background: $warning-color;
        }
        &.primary {
            background: $primary-color;
        }
        &.secondary {
            background: $secondary-color;
        }
        &.success {
            background: $success-color;
        }
    }
    .form-buttons {
        padding: 15px 0;
    }
    .form-no-button {
        height: 0px;
        float: auto;
        margin: 0;
        padding: 0;
        width: 0;
    }
    .field {
        padding-bottom: 1vh;
    }
}