.app-form {
    .form-field {
        label.input {
            width: 100%;
        }
        .field-element {
           &.invalid {
                border: 1px orangered solid;
            }
        }
        .field-element[type='text'] {
            width: 100%;
        }
    }
      .form-message{
            &.alert {
                color:$alert-color;
            }
            &.warning {
                color:$warning-color;
            }
            &.primary{
                color:$primary-color;
            }
            &.secondary{
                color:$secondary-color;
            }
            &.success {
               color:$success-color; 
            }
        }
}