.item-category-fields {
    .category-field {
        padding: 15px;
        border-bottom: 1px $secondary-color solid;
        &.odd {
            background: darken(whitesmoke, 10.0%);
        }
        &.even {
            background: darken(whitesmoke, 2.0%);
        }
        .category-field-controls {
            span {
                margin: 1px
            }
        }
    }
}