.common-content {
    padding: 0 1em 2em 1em;
    background: papayawhip;
    border: 1px solid $menu-background;
    .content-title {
        padding: 2px;
        color: $primary-color;
        float: right;
    }
}