.app-settings {
    .link-control-div {
        padding-right: 1em;
    }
    .common-sidebar {
        ul {
            li {
                &.control {
                    text-align: right;
                }
                &:hover {
                    border-bottom: 1px solid $primary-color
                }
            }
        }
    }
}