fieldset {
  &.common-fieldset {
    legend {
      width: 40%;
      height: 33px;
      background: $primary-color;
      font-weight: 400;
      color: white;
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px;
    }
    .fieldset-content {
      -webkit-box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
      -moz-box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
      box-shadow: 8px 9px 22px 1px rgba(156, 139, 139, 1);
      background: $form-background;
      padding: 31px;
      margin-top: -7px;
      margin-bottom: 10px;
    }
  }
}
