fieldset {
  &.common-fieldset {
    legend {
      width: 40%;
      height: 33px;
      background: $primary-color;
      font-weight: 400;
      color: white;
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px;
    }
    .fieldset-content {
      background: antiquewhite;
      padding: 31px;
      margin-top: -7px;
      margin-bottom: 10px;
    }
  }
}
