.common-fileupload {
    .input-group {
        margin-bottom: 0;
    }
    .input-group-button {
        div {
            height: 100%;
            button {
                height: inherit;
            }
        }
    }
}